{% if rabbit.server.bind_interface == 'all' %}
{% set bind_ip = '0.0.0.0' %}
{% else %}
{% set bind_ip = grains['ip_interfaces'][rabbit.server.bind_interface][0] %}
{% endif %}
[
    {
        rabbit, [
            {tcp_listeners, [{"{{ bind_ip }}", {{ rabbit.server.bind_port }}}]},
            {handshake_timeout, {{ rabbit.server.handshake_timeout }}},
            {vm_memory_high_watermark, {{ rabbit.server.vm_memory_high_watermark }}},
            {vm_memory_high_watermark_paging_ratio, {{ rabbit.server.vm_memory_high_watermark_paging_ratio }}},
            {log_levels, [
                             {connection, {{ rabbit.server.log_levels.connection }}},
                             {mirroring, {{ rabbit.server.log_levels.mirroring }}}
                         ]
            },
            {default_vhost, <<"{{ rabbit.server.default_vhost }}">>},
            {default_user, <<"{{ rabbit.server.default_user }}">>},
            {default_pass, <<"{{ rabbit.server.default_pass }}">>},
            {default_user_tags, [{{ rabbit.server.default_user_tags }}]},
            {default_permissions, [{{ rabbit.server.default_permissions }}]},
            {cluster_partition_handling, {{ rabbit.server.cluster_partition_handling }}}
        ]
    }   
].
